@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="table-responsive">
    <table id="data" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Local Time</th>
            <th scope="col">deltaTheta X</th>
            <th scope="col">deltaTheta Y</th>
            <th scope="col">deltaTheta Z</th>
            <th scope="col">deltaVelocity X</th>
            <th scope="col">deltaVelocity Y</th>
            <th scope="col">deltaVelocity Z</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>